# please make sure you have already a pytorch install that is cuda enabled!
av==11.0.0
einops==0.8.0
flashy==0.0.2
hydra-core==1.3.2
hydra_colorlog==1.2.0
julius==0.2.7
num2words==0.5.13
numpy<2.0.0
sentencepiece==0.2.0
spacy==3.7.5
torch==2.3.1
torchaudio==2.3.1
huggingface_hub==0.23.4
tqdm
transformers==4.41.2  # need Encodec there.
xformers==0.0.27
demucs==4.0.1
librosa==0.10.2.post1
soundfile==0.12.1
gradio==4.38.1
torchmetrics==1.4.0.post0
encodec==0.1.1
protobuf==3.20.3
torchvision==0.18.1
torchtext==0.18.0
pesq==0.0.4
pystoi==0.4.1
triton>=2.3.1
